/* Included CSS
  * URL: http://tympanus.net/codrops/2011/12/26/css3-lightbox/ 
*/

/* Customize. Make It Your Own. */

/* Thumbnails */
.lb-album{
  width: 50%;
	margin: 0 auto;
}

.lb-album li {
	float: left;
	list-style: none;
  margin: 10px;
  position: relative;
}

.lb-album li > a,
.lb-album li > a img {
	display: block;
}

/* Overlay */
.lb-overlay{
	background: red;  
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 999;
	text-align: center;
}

.lb-overlay img{
	max-height: 100%;
	position: relative;
}

.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
}

/* Transitions or Animations */
/* Customize This */
.lb-overlay:target img {
	animation: fadeIn .5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

