/*Global*/
/*<<<<<<< HEAD*/

body {
    background: url(../img/dark_wood.png);
}


/*Navigation*/

nav li {
    display: inline-block;
    margin: 4px;
    padding: 1em;
    border-radius: .5em;
    background: rgb(6, 140, 189);
}

nav a {
  font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: rgb(241, 243, 241);
}

nav a:hover, nav a:focus {
    color: rgb(189, 123, 40);
}

/*Layout*/

.index {
    background: url(../img/Tessa_312.jpg) no-repeat center center fixed, url(../img/dark_wood.png);
    background-position-y: 8.6em; 
    background-color: rgb(241, 243, 241);
       
}






/*Typography*/

.tcom {
   font-family: 'Shadows Into Light Two', cursive;
    color: rgb(241, 243, 241);
    Padding: .01em 2em .01em 2em;
    display: inline-block;
    background: rgb(6, 140, 189);
    border-radius: .3em;
    margin-top: 1em;
    position: absolute;
    z-index: 1;
    margin-left: 2em;
}

.resume h1, h3 {
    font-family: 'Dosis', sans-serif;
    color: darkgray;
    margin: 1em;
}

.resume h2 {
       font-family: 'Shadows Into Light Two', cursive;
    color: rgb(6, 140, 189);
}

.resume li {
 list-style-type: none;
    color: rgb(241, 243, 241);
}


.resume-text {
    padding-left: 0;
    display: inline-block;
}
    


p, li {
    color: rgb(241, 243, 241);
    font-family: 'Open Sans', sans-serif;
}






/* Index */

.index-text {
    background: rgba(139, 85, 66, .6);
    margin: 4em 54em 20em 5em;
    padding: 2em;
    border-radius: .5em;
    position: relative;
}


form {
 background: rgba(6, 140, 189, .8); 
border: .5em solid lightgray;
border-radius: 1%;
margin: 8em;
    padding: 3em;
}

 label {
        color: brown;
        margin: auto;
        padding: 5em;
        font-family: 'Dosis', sans-serif;
    }

input  {
    margin: 1.1em;
    border-radius: .3em;
    background: rgb(241, 243, 241);
}

textarea {
    margin: .3em 0em .3em;
    border-radius: .3em;
    background:rgb(241, 243, 241);
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
}

.submit {
    background: gray;
    color: rgb(241, 243, 241);
    padding: .8em;
    margin: 2em 0em 0em 30em;
}

/* Resume */

.resume img {
    width: auto;
    border: 3px solid rgb(189, 123, 40);
    border-radius: 2%;
    box-shadow: 10px 10px 10px #000;

/* Gallery */
.gallery {
    height: 600px;
}

#gallery .item {
    background: rgb(139, 85, 66);
}
    
   