/*Global*/
/*<<<<<<< HEAD*/

body {
    background: url(../img/dark_wood.png);
}


/*Navigation*/



nav li {
    display: inline-block;
    margin: 4px;
    padding: 1em;
    border-radius: .5em;
    background: rgb(6, 140, 189);
}

nav a {
  font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: rgb(241, 243, 241);
    display: block;
    text-align: center;
}

nav a:hover, nav a:focus {
    color: rgb(189, 123, 40);
}

/*Layout*/

.index {
    background: url(../img/Tessa_312.jpg) no-repeat center center fixed, url(../img/dark_wood.png);
    background-position-y: 8.6em; 
    background-color: rgb(241, 243, 241);
       
}






/*Typography*/


.tcom {
   font-family: 'Shadows Into Light Two', cursive;
    color: rgb(241, 243, 241);
    padding: .01em 2em .01em 2em;
    display: inline-block;
    background: rgb(6, 140, 189);
    border-radius: .3em;
    margin: 1em -3em;
    position: absolute;
    z-index: 1;
}

h2 {
font-family: 'Shadows Into Light Two', cursive;
    color: rgb(241, 243, 241);
    font-size: 2.5em;
}

.resume h1, h3 {
    font-family: 'Dosis', sans-serif;
    color: rgb(189, 123, 40);
    margin: 1em;
}

.resume h2 {
       font-family: 'Shadows Into Light Two', cursive;
    color: rgb(6, 140, 189);
}

.resume li {
 list-style-type: none;
    color: rgb(241, 243, 241);
}


.resume-text {
    padding-left: 0;
    display: inline-block;
}
    


p, li {
    color: rgb(241, 243, 241);
    font-family: 'Open Sans', sans-serif;
}

.essay h1 {
    font-family: 'Dosis',sans-serif;
    color: rgb(6, 140, 189);
    text-align: center;
}



/* Index */

.index-text {
    background: rgba(139, 85, 66, .6);
    margin: 5em 44em 20em 4em;
    padding: 2em;
    border-radius: .5em;
    position: relative;
}

 .index div {
 min-width: 300px;   
}


form {
 background: rgba(6, 140, 189, .8); 
border: .5em solid rgba(216, 155, 36, .9);
border-radius: 1%;
margin: 8em;
    padding: 3em;
}

 label {
        color: rgb(189, 123, 40);
        margin: auto;
        padding: 5em;
        font-family: 'Dosis', sans-serif;
        font-size: 1.8em;
    }

input  {
    margin: 1.1em;
    border-radius: .3em;
    background: rgb(241, 243, 241);
    height: 3em;
    width: 55%;
}

textarea {
    margin: .5em 10em .5em -.5em;
    border-radius: .3em;
    background:rgb(241, 243, 241);
    width: 54%;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
}

.submit {
    background: rgb(189, 123, 40);
    border-radius: .5em;
    color: rgb(241, 243, 241);
    padding: .8em;
    margin: 2em 0em 0em 30em;
    width: auto;
}

/* Resume */

.resume img {
    width: auto;
    border: 3px solid rgb(189, 123, 40);
    border-radius: 2%;
    box-shadow: 10px 10px 10px #000;
    
}

/* Gallery */

figure {
        margin: 500px 500px 500px -100px; 
        padding: 5px 200px 200px 200px;
    }


.portfolio h1 { 
 font-family: 'Dosis', sans-serif;
    color: rgb(241, 243, 241);
    text-align: center;
}

.portfolio .big {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.gallery .item {
height: 5%; 
background: black;
}

.work a:link {
    color: rgb(216, 155, 36);
    text-decoration: none;
}

.work a:visited, .work a:active {
    color: rgb(6, 140, 189);  
}

.work a:hover, .work a:focus {
 color: rgb(241, 243, 241);
}



/*Media Queries*/

@media screen and (max-width: 1555px) {
    
  label {

    font-size: 25px;   
  }
    
    form {
     width: 65%;  
    }
    textarea, input {
     width: 30%;   
    }
    
}

@media screen and (max-width: 1375px) {
    
    label {
        font-size: 20px;
    }
    
    form {
     width: 65%;  
    }
    
   
    
}

@media screen and (max-width: 1195px) {
    body {
        font-size: 18px;
    }
    
    .tcom {
        margin: 16px;
        font-size: .8em;
 
    }
    
    
}
    
@media screen and (max-width: 640px) {
    body {
        font-size: 16px;   
    }
    
    .tcom {
        font-size: .8em;     
    }
    
    
}
    
@media screen and (max-width: 470px) {
    .index-text {
        font-size: 14px;
    }
    
    .tcom {
        font-size: .5em;
    }
    
    nav li {
        padding: .6em;
    }
    
    
    
}
    
@media screen and (max-width: 320px) {
    .tcom {
        font-size: 7px;
    }
    
    .index-text {
        font-size: 6px;   
    }
}

    

    
    

   