/*Global*/
/*<<<<<<< HEAD*/

body {
    background: url(../img/tweed.png);
}

img,
.me { 
    width:  50%;
}

/*Layout*/


/*Typography*/
h1,
h2,
h3,
p,
li
 {
    color: rgba(0,0,0,.5);
   font-family: 'Dosis', sans-serif;
}



/*Navigation*/

nav a   {
    color: cadetblue;
    background: coral;
    text-decoration: none;
    
    display: inline-block;
    height: 100px;
    width: 100px;
}



li {
    display: inline;
}
